<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User registration</h1>
    <form action="/register" method="post">
      <input name="Email" type="text" placeholder="E-mail">
      <input type="password" name="Password" placeholder="Password">
      <input type="text" name="text" placeholder="about u">
      <input type="text"  name="Address" placeholder="Address">
      <input type="text"  name="age" placeholder="age">
      <input type="text" name="sex" placeholder="sex">
      <input type="text" name="reason" placeholder="sex">

        <button>Submit</button>
    </form>
    <h1>Charity registration</h1>
    <form action="/register1" method="post">
        <input name="Email" type="text" placeholder="E-mail">
        <input type="password" name="Password" placeholder="Password">
        <input type="text" name="text" placeholder="about organisation">
        <input type="text"  name="Address" placeholder="Address">
        <input type="text"  name="age" placeholder="age">
        <input type="text" name="sex" placeholder="sex">
        <input type="text" name="reason" placeholder="sex">
        <input type="text" name="Coor" placeholder="co-ordinates">

          <button>Submit</button>
      </form>
</body>
</html>